/* =====================
   Tablet
===================== */

@media (max-width:768px){

.head{
    flex-direction: column;
}

.list{
    flex-wrap: wrap;
    justify-content: center;
}

.cover .contant h1{
    font-size:50px;
}

.card{
    flex-direction: column;
    align-items:center;
}

.card img{
    width:100%;
    height:auto;
}

.footer-perent{
    flex-direction:column;
    gap:20px;
}

}

/* =====================
   Mobile
===================== */

@media (max-width:576px){

nav{
    left:10px;
    right:10px;
}

.head{
    flex-direction:column;
}

.list{
    flex-direction:column;
    align-items:center;
}

.list li a{
    font-size:16px;
}

.cover{
    padding:20px;
}

.cover .contant h1{
    font-size:36px;
}

.cover .contant h2{
    font-size:24px;
}

.card{
    flex-direction:column;
}

.card img{
    width:100%;
    height:auto;
}

.footer-perent{
    flex-direction:column;
    text-align:center;
}

.divider{
    flex-direction:column;
    gap:15px;
}

.divider-link{
    flex-direction:column;
    gap:15px;
}

}